template(name="cardScore")
  .cardscore-container
     form.edit-score
      .fields
        label(for="score") {{_ 'score'}}
        input(type="text" name="score" value=showScore autofocus)
      if error.get
        .warning {{_ error.get}}
      button.primary.wide.left.js-submit-date(type="submit") {{_ 'save'}}
      button.js-delete-score.negate.wide.right.js-delete-date {{_ 'delete'}}
      
template(name="scoreBadge")
  if canModifyCard
    a.js-edit-score.card-score(class="{{classes}}")
      | {{#if showScore}} {{showScore}} {{else}}?{{/if}}
  else
    a.card-score(class="{{classes}}")
      | {{#if showScore}} {{showScore}} {{else}}?{{/if}}
