template(name="scoreBadge")
  if currentUser.canAlterCard
    a.js-edit-date.card-date.card-score(class="{{classes}}")
      | {{#if showScore}} {{showScore}} {{else}}{{/if}}
  else
    a.card-date.card-score(class="{{classes}}")
      | {{#if showScore}} {{showScore}} {{else}}{{/if}}