template(name="dateBadge")
  if currentUser.canAlterCard
    a.js-edit-date.card-date(title="{{showTitle}}" class="{{classes}}")
      time(datetime="{{showISODate}}")
        | {{showDate}}
  else
    a.card-date(title="{{showTitle}}" class="{{classes}}")
      time(datetime="{{showISODate}}")
        | {{showDate}}

