template(name='foldersWidget')
  .col-md-2.board-widget.board-widget-folders
    div.row(style='display: flex')
      div.col-lg-7
        h2.panelTitle
          i.fa.fa-folder
          | {{_ 'folders'}}
      div.col-lg-2.create-first-level-folder-container
        button.create-first-level-folder.btn.fa.fa-plus.pull-right(type='button' title="Create new folder")
      div.clearfix
    div.col-lg-10.createFirstLevelFolderDiv.hide
      form#createFirstLevelFolderForm
        div
          h3.formHeader {{_ 'create-folder'}}
            i.fa.fa-times-thin.pull-right.close-first-level-form
          hr
          h3 Title
          input#title.form-control.input-md(type='text' name='name' required='required')
          button.btn.btn-submit-create-folder(type='submit') {{_ 'Submit'}}
    hr
    if currentUser.hasPermission 'templates' 'fetch'
      ul.nav.metismenu#templates-folder-ul-tag
        li.nav.sub-root
          a#templatesFolder.fa.fa-clone
            | &nbsp;
            span.nav-label.generalFont {{_ 'templates'}}
    ul.nav.metismenu#uncategorised-folder-ul-tag
      li.nav.sub-root
        a#uncategorisedBoardsFolder.fa.fa-folder.selected
          | &nbsp;
          span.nav-label.generalFont {{_ 'uncategorised'}}
    ul.nav.metismenu#side-menu.folders
      each folders
        li.nav.sub-root.myFolder(data-id="{{_id}}" data-name="{{name}}")
          a.folderOpener
            i.fa.fa-caret-right.folderHandle
              | &nbsp;
              span.fa.fa-folder
            | &nbsp;
            span.nav-label.generalFont
              = name
              i.fa.fa-trash.pull-right.deleteFolder(title="Delete folder {{name}}")
          ul.nav.nav-second-level.collapse.hide
            li.addSubFolderTAGli
              a.addSubFolderLink
                i.fa.fa-plus.addSubFolderTAGi
                | {{_ 'add-subfolder'}}
            li.createSubFolderFormTAGli.hide
              div.col-lg-10.createSubFolderDiv
                form#createSubFolderForm(data-parent-id="{{_id}}")
                  div
                    h3.formHeader {{_ 'create-sub-folder'}}
                      i.fa.fa-times-thin.pull-right.close-sub-folder-form
                    hr
                    h3 Title
                    input#title.form-control.input-md(type='text' name='name' required='required')
                    button.btn.btn-submit-create-sub-folder(type='submit') {{_ 'Submit'}}
            each subFolders
              li.nav.sub-root.myFolder.subFolderTAGli(data-id="{{_id}}" data-name="{{name}}")
                a.folderOpener
                  i.fa.fa-folder
                  span.nav-label.generalFont.subfolderLabel
                    = name
                    i.fa.fa-trash.pull-right.deleteFolder(title="Delete folder {{name}}")
 
 
 